# Advanced Certification Program in Computational Data Science
## A program by IISc and TalentSprint
### Practice Notebook 2: Introduction to Pandas
#### (Ungraded)

## Learning Objectives

At the end of the experiment, you will be able to :

* understand the various applications of Pandas and why it is a building block in the field of Data Science
* define a Pandas DataFrame and describe how data can be stored and accessed in these DataStructures
* describe the key characteristics of pandas dataframes
* perform data cleaning, manipulation using Pandas
* run calculations and summarize data in pandas dataframes

## Information

#### Pandas

* Pandas is an important Python library for data manipulation, wrangling, and analysis.
* It functions as an intuitive and easy-to-use set of tools for performing operations on any kind of data.
* Initial work for pandas was done by Wes McKinney in 2008 while he was a developer at AQR Capital Management. Since then, the scope of the pandas project has increased a lot and it has become a popular library of choice for data scientists all over the world.
* Pandas allows you to work with both cross-sectional data and time series based data.
* The data representation in pandas is done using two primary data structures:
  - Series
  - Dataframes

##### Series

* Series in pandas is a one-dimensional ndarray with an axis label.
* It means that in functionality, it is almost similar to a simple array.
* The values in a series will have an index that needs to be hashable. This requirement is needed when we perform manipulation and summarization on data contained in a series data structure.

##### DataFrame

* Dataframe is the most important and useful data structure, which is used for almost all kind of data representation and manipulation in pandas. Unlike numpy arrays (in general) a dataframe can contain
heterogeneous data.
* Pandas dataframes are composed of rows and columns that can have header names, and the columns in pandas dataframes can be different types (e.g. the first column containing integers and the second column containing text strings). Each value in pandas dataframe is referred to as a cell that has a specific row index and column index within the tabular structure.

##### Features

* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.
* Time Series functionality.

**To know more about Pandas click [here](https://pandas.pydata.org/docs/getting_started/overview.html)**

##### Excercise 1: How to import pandas and check the version?

In [ ]:
# Your code here

##### Excercise 2: Create a Pandas DataFrame from a dictionary

In [ ]:
# Your code here

##### Excercise 3: Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

**Access the dataset using this [link](https://cdn.iisc.talentsprint.com/CDS/Datasets/Cars93_miss.csv)**

**Hint:** use `wget` to download the dataset

In [ ]:
# Your code here

##### Exercise 4: Given the DataFrame below

| Name        | Age         |
| ----------- | ----------- |
| Jeff        | 30          |
| Esha        | 56          |
| Jia         | 8           |


Display the details of the Name column

In [ ]:
# Your code here

##### Exercise 5: Given the DataFrame below

| Name        | Age         |
| ----------- | ----------- |
| Jeff        | 30          |
| Esha        | 56          |
| Jia         | 8           |


Display the details of the row with Jia in it

In [ ]:
# Your code here

##### Exercise 6: Given the DataFrame below

| Name        | Age         |
| ----------- | ----------- |
| Jeff        | 30          |
| Esha        | 56          |
| Jia         | 8           |


Display the Name of the person with minimum age

In [ ]:
# Your code here

##### Exercise 7: Given the DataFrame below

| Name        | Age         |
| ----------- | ----------- |
| Jeff        | 30          |
| Esha        | 56          |
| Jia         | 8           |


Display the Name of the person with maximum age

In [ ]:
# Your code here

##### Exercise 8: Given the DataFrame below

| Name        | Age         |
| ----------- | ----------- |
| Jeff        | 30          |
| Esha        | 56          |
| Jia         | 8           |
| Eiran       | 46          |


Display the details of the person whose name starts with 'E'

In [ ]:
# Your code here

##### Exercise 9: Form a new dataset by removing or replacing the missing values from Cars93 dataset.



**To download the dataset click [here](https://cdn.iisc.talentsprint.com/CDS/Datasets/Cars93_miss.csv)**

In [ ]:
# Your code here

##### Exercise 10:  Use the dataset obtained after performing the above operations on Cars93 dataset. Perform the following operations:

- Find the count of the models which provides AirBags for the driver only
- Find the count of the models which provides AirBags for the driver only and whose engine size is greater than 3
- Find the count of the models which provides AirBags for the driver only and whose engine size is greater than 3 and type is Large

In [ ]:
# Your code here

In [1]:
technologies = { 'courses' = ['Spark','Hive','AI','DS'],
                'Fee' = [4000,9000,500,10000],
                'Duration'=[60,180,365,30],
                'Discount'=[0,10,90,0]}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4174377560.py, line 1)