- List is heterogenuous
- List allows duplicate values
- It is mutable

In [8]:
#List separated by comma
friends = ["John", "Kelly", "Mac"]
listNum = [3,13,11,177]
mixedList = ["Joey", 13, True, [4,2,3,1]]
print(mixedList[-1])
print(mixedList[3])

[4, 2, 3, 1]
[4, 2, 3, 1]

In [4]:
#list slicing and reverse
print(mixedList[::])
print(mixedList[::-1])

['Joey', 13, True, [4, 2, 3, 1]]
[[4, 2, 3, 1], True, 13, 'Joey']

In [11]:
#Nested List
mixedList = ["Joey", 13, True, [4,2,3,1]]
print(mixedList)
print(mixedList[3][3])

['Joey', 13, True, [4, 2, 3, 1]]
1

In [12]:
len(mixedList)

4

Function overloading is inhenerent in magic methods like Len but we cannot overload a method. However we can use that concept by redefining the magic method in out class

In [ ]:
print(friends)

In [14]:
#List constructor
myList1 = list([4,1,2,3])
myList2 = list((4,2,4,5))   #converts tuple to list
print(myList1)
print(myList2)

[4, 1, 2, 3]
[4, 2, 4, 5]

In [17]:
#list of sequence of numbers
myList3 = list(range(4,11))
print(myList3)

[4, 5, 6, 7, 8, 9, 10]

In [18]:
#Append adds one element at a time
myList3.append([3,1,1,4])
print(myList3)

[4, 5, 6, 7, 8, 9, 10, [3, 1, 1, 4]]

In [19]:
#Extend adds multiple elements
myList3.extend([1,1,32,11])
print(myList3)

[4, 5, 6, 7, 8, 9, 10, [3, 1, 1, 4], 1, 1, 32, 11]

In [23]:
#Add element in between using insert
print(myList3)
myList3.insert(1,100)
print(myList3)

[4, 100, 5, 6, 7, 8, 9, 10, [3, 1, 1, 4], 1, 1, 32, 11]
[4, 100, 100, 5, 6, 7, 8, 9, 10, [3, 1, 1, 4], 1, 1, 32, 11]

In [24]:
#Add element at the end - if using negative it adds element and then
print("before", myList3)
myList3.insert(-1,100)
print("after", myList3)

before [4, 100, 100, 5, 6, 7, 8, 9, 10, [3, 1, 1, 4], 1, 1, 32, 11]
after [4, 100, 100, 5, 6, 7, 8, 9, 10, [3, 1, 1, 4], 1, 1, 32, 100, 11]

In [27]:
#Sort and sorted
print("before" , friends)
friends.sort()
print("sorting" , friends )
friends.sort(reverse=True)
print("sorting in reverse" , friends)

before ['Mac', 'Kelly', 'John']
sorting ['John', 'Kelly', 'Mac']
sorting in reverse ['Mac', 'Kelly', 'John']

In [31]:
#Sorted function works with all collections - string, dict, set, lsit , tuple
#this will not do permanent changes to list
#Sort is only for List. it is in-place changes
#Sort will return none but sorted returns the list

friends = ["John", "Kelly", "Abe"]
print("Before", friends)
print(sorted(friends))
print(sorted(friends, reverse=True))

Before ['John', 'Kelly', 'Abe']
['Abe', 'John', 'Kelly']
['Kelly', 'John', 'Abe']

In [34]:
#Pop will remove last element and displays the element
print(friends)
friends.pop()

['John', 'Kelly', 'Abe']

'Abe'

In [39]:
#inefficient code for removing specific names
#sometimes it fails to work when there are 4 or more occurances to be removed
friends.extend(("Meghana","Shue","Shruthi","Gita","Shue"))
print(friends)
for name in friends:    #for runs for fixed range but iffriends keeps changing the range needs to be recalculated
    if name == "Shue":
        friends.remove("Shue")
print("after", friends)

['John', 'Kelly', 'Meghana', 'Shruthi', 'Gita', 'Meghana', 'Shruthi', 'Gita', 'Meghana', 'Shue', 'Shruthi', 'Gita', 'Shue']
after ['John', 'Kelly', 'Meghana', 'Shruthi', 'Gita', 'Meghana', 'Shruthi', 'Gita', 'Meghana', 'Shruthi', 'Gita']

In [47]:
#refereence variable is spoken for collections and not basic data types

#shallow copy : references same memory address
myList1 = list([4,1,2,3])
myCopy = myList1
print(myCopy)
print(myList1)
myList1.append(999)
print("shallow copy", myCopy)
print("shallow source", myList1)

#Deep copy : different memory address
#holds copy as of that time of copy
myCopy2 = myList1.copy()

print(myList1)
print(myCopy2)

myList1.append(100)
print("deep source",myList1)
print("deep copy", myCopy2)

[4, 1, 2, 3]
[4, 1, 2, 3]
shallow copy [4, 1, 2, 3, 999]
shallow source [4, 1, 2, 3, 999]
[4, 1, 2, 3, 999]
[4, 1, 2, 3, 999]
deep source [4, 1, 2, 3, 999, 100]
deep copy [4, 1, 2, 3, 999]

In [ ]:
#try adding value into nested list , for insert you cannot provide 2 dimensions
# you can access with 2 dimensions though

In [49]:
import datetime as dt
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [154]:
from datetime import date
sdate=date(2024,10,5)
print(sdate)
#Now change default fromat of date
sdate=sdate.strftime("%Y/%m/%d")
print(sdate)

2024-10-05
2024/10/05

In [62]:
l1 = list(range(1,11))   #range(start,stop,step)

print(l1)

evenList = [l1[items] for items in range(len(l1)) if l1[items]%2 == 0] 
oddList = [l1[items] for items in range(len(l1)) if l1[items]%2 != 0]
print(evenList)
print(oddList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In list comprehension, make sure that the statement/expression results in one output alone so a new list can be creted out of it

In [72]:
# Given a list of numbers, 
# remove floats from the list

list1 = [12.9,10,34.0,67,87,10.8,34,77.0,60,45.87,18]
list2 = [i for i in list1 if type(i) != float]
list3 = [i for i in list1 if not isinstance(i,float)]   #can also look only for int in this particular case

print(list1)
print("With floats removed", list2)
print("With floats removed by isinstance", list3)

[12.9, 10, 34.0, 67, 87, 10.8, 34, 77.0, 60, 45.87, 18]
With floats removed [10, 67, 87, 34, 60, 18]
With floats removed by isinstance [10, 67, 87, 34, 60, 18]

**Tuple**
- Immutable, acts as a constant data structure
- it is  ordered
- no functions that makes permanent changes
- heterogeneuous
- can have duplicates
- used when working with database, specially when inserting single values
- where you dont want outside modification
- cannot do sort, append, extend on tuple
- can pack and unpack values with tuple which we cant do with list
- when comparing tuples (< , > etc), it does it one element at a time, unless the elements are equal it wont evaluate the enxt element
- create empty set as set() and not {}

In [74]:
tup1 = ("kring",1, 8.0)
tup1[0]

'kring'

In [76]:
#tuple with single element
tup2 = (100)
print(tup2, type(tup2))
tup2 = (100,)
print(tup2, type(tup2))

100 <class 'int'>
(100,) <class 'tuple'>

In [81]:
#make changes in tuple
tup2 = (100,18,90)
tup2 = list(tup2)
tup2.append(55)
tup2.extend([909])
print(tup2, type(tup2))
tup2 = tuple(tup2)
print(tup2, type(tup2))

[100, 18, 90, 55, 909] <class 'list'>
(100, 18, 90, 55, 909) <class 'tuple'>

In [84]:
#- by default if you store multiple values in one variable it becomes tuple
tup = 3,4,2.3,1
print(tup, type(tup))   #tuple packing
a,b,c,d = tup
print(a,b,c,d, type(a), type(b),type(c),type(d))

(3, 4, 2.3, 1) <class 'tuple'>
3 4 2.3 1 <class 'int'> <class 'int'> <class 'float'> <class 'int'>

In [85]:
#comparison
(1,3,10) < (1,5,10)

True

In [86]:
(3,2,'d') < (4,2,'b')   #since first element is differrent and is less, it wont look at 3rd.

True

In [87]:
(3,2,'d') < (3,2,'b')   #since first element is same, it checks the second and then third where it finds that it is not less

False

In [92]:
tup1 = (19,0,19,88,9)
print((tup1))
print(sorted(tup1))     #note that the output is in the form of a list
print(sorted(tup1,reverse=True))
print((tup1))
tup2 = sorted(tup1)         #assigning output of sorted will be of type list
print(tup2, type(tup2))

(19, 0, 19, 88, 9)
[0, 9, 19, 19, 88]
[88, 19, 19, 9, 0]
(19, 0, 19, 88, 9)
[0, 9, 19, 19, 88] <class 'list'>

**Sets**
- Unordered 
- Can be modified as in add elements but cannot change existing so not immutable
- heterogeneuous
- Unique

In [95]:
s1 = {2,1,5,6,5,9,1,1}
print(s1)       #ignores duplicates

{1, 2, 5, 6, 9}

In [105]:
s2 = {1,True, 9.0, "here", None}    #here it considers 1 and true to be same and excludes one of them
print(s2)
s3 = {1,False, 9.0, "here", None}
print(s3)

{1, 'here', None, 9.0}
{False, 1, 'here', 9.0, None}

In [107]:
#Set operations
#Union
a = {1, 3,6,9}
b = {7,0,2,3}
print(a|b)
print(a.union(b))

{0, 1, 2, 3, 6, 7, 9}
{0, 1, 2, 3, 6, 7, 9}

In [115]:
c = {90,99,1}
print(a|b|c)
print(a.union(b,c))
print(a, b, c)

{0, 1, 2, 3, 99, 6, 7, 9, 90}
{0, 1, 2, 3, 99, 6, 7, 9, 90}
{1, 3, 6, 9} {0, 2, 3, 7} {1, 90, 99}

In [111]:
#Intersection or common elements
print(a&b)
print(a.intersection(b))

{3}
{3}

In [116]:
#elements in first set not in second or in third
print(a-b-c)
print(a.difference(b,c))

{9, 6}
{6, 9}

In [118]:
#uncommon elemenst from all sets - symmetric difference
print(a,b,c)
print(a^b^c)

{1, 3, 6, 9} {0, 2, 3, 7} {1, 90, 99}
{0, 2, 99, 6, 7, 9, 90}

In [120]:
#find common and uncommon elements from the list
list1 = [5,2,3,8,6,1]
list2 = [1,6,2,9,0]

print(set(list1)&set(list2))
print(set(list1)^set(list2))

{1, 2, 6}
{0, 3, 5, 8, 9}

**Dictionary**
- before 3.7 it was unordered. but it is now ordered
- Ordered dictionary basically means it keeps track of elements being added/removed in the order it was performed
- unique - keys cannot be duplicate, values can be
- mutable

In [129]:
d1 = {'John': 'Trek',
      'Henry': 'Painting',
      'john' :'Running',
      'John':'something else',      #duplicate value but will take the latest without throwing error
      123 : 'Painting',
      'Mary':('Reading','Birding'),
      'James':['reading', 'Running','Trek'],
      'code':900
}
print(d1)

{'John': 'something else', 'Henry': 'Painting', 'john': 'Running', 123: 'Painting', 'Mary': ('Reading', 'Birding'), 'James': ['reading', 'Running', 'Trek'], 'code': 900}

In [128]:
print(d1['John'])
print(d1.get('John'))

something else
something else

In [130]:
d1['code']+=10
print(d1['code'])

910

In [131]:
#delete one item - pop
d1.pop(123)
print(d1)

{'John': 'something else', 'Henry': 'Painting', 'john': 'Running', 'Mary': ('Reading', 'Birding'), 'James': ['reading', 'Running', 'Trek'], 'code': 910}

In [132]:
d1.popitem()    - always last item deleted, returns both key and value

('code', 910)

In [ ]:
#delete deletes all and dict

In [137]:
mydict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT'}
mydict

{'name': 'John', 'code': 4001, 'city': 'delhi', 'dept': 'IT'}

In [142]:
mydict.keys()
mydict.values() #returns values multiple times if they are repeated
print(d1.keys())
print(d1.values())  #returns only the latest value of john as key is duplicated

dict_keys(['John', 'Henry', 'john', 'Mary', 'James'])
dict_values(['something else', 'Painting', 'Running', ('Reading', 'Birding'), ['reading', 'Running', 'Trek']])

In [143]:
for k in mydict.keys():
    print(mydict[k])

John
4001
delhi
IT

In [147]:
#if you want to iterate over both keys and values use items which returns a tuple
for item in mydict.items():
    print(item, type(item))

for k,v in mydict.items():
    print(k,v, type(k), type(v))

print(mydict.items())   #List of tuples

('name', 'John') <class 'tuple'>
('code', 4001) <class 'tuple'>
('city', 'delhi') <class 'tuple'>
('dept', 'IT') <class 'tuple'>
name John <class 'str'> <class 'str'>
code 4001 <class 'str'> <class 'int'>
city delhi <class 'str'> <class 'str'>
dept IT <class 'str'> <class 'str'>
dict_items([('name', 'John'), ('code', 4001), ('city', 'delhi'), ('dept', 'IT')])

In [165]:
print(sorted(mydict.items()))

myList = sorted(mydict.items())
myList.append(('dept','HR'))

print("mylist", myList)
print(myList[1][1])
mydict2 = {}
mydict3={}

for val in myList:
    mydict2[val[0]] = val[1]
#to make key as val and val as key
    mydict3[val[1]] = val[0]  


print("Output", mydict2)
print("Output", mydict3)

[('city', 'delhi'), ('code', 4001), ('dept', 'IT'), ('name', 'John')]
mylist [('city', 'delhi'), ('code', 4001), ('dept', 'IT'), ('name', 'John'), ('dept', 'HR')]
4001
Output {'city': 'delhi', 'code': 4001, 'dept': 'HR', 'name': 'John'}
Output {'delhi': 'city', 4001: 'code', 'IT': 'dept', 'John': 'name', 'HR': 'dept'}

In [169]:
#Update method to update dict permanently
area1 = {'CA':'California', 'NY':'New York'}
area2 = {'WY':'Wyoming', 'NW':'Newark'}
area1.update(area2)
print(area1)
print(area2)

#if there are duplicates
area1 = {'CA':'California', 'NY':'New York'}
area2 = {'CA':'California2', 'NW':'Newark'}
area1.update(area2)
print(area1)
print(area2)

{'CA': 'California', 'NY': 'New York', 'WY': 'Wyoming', 'NW': 'Newark'}
{'WY': 'Wyoming', 'NW': 'Newark'}
{'CA': 'California2', 'NY': 'New York', 'NW': 'Newark'}
{'CA': 'California2', 'NW': 'Newark'}

In [172]:
#nested dictionary
progLang = {'py': {'year':'1991','creator':'abc'},
            'C++': {'year':'1996','creator':'def'},
            'Java': {'year':'1998','creator':'xyz'}
}
print(progLang)

{'py': {'year': '1991', 'creator': 'abc'}, 'C++': {'year': '1996', 'creator': 'def'}, 'Java': {'year': '1998', 'creator': 'xyz'}}

In [175]:
for item in progLang.items():
    print(item)

('py', {'year': '1991', 'creator': 'abc'})
('C++', {'year': '1996', 'creator': 'def'})
('Java', {'year': '1998', 'creator': 'xyz'})

In [184]:
for k,v in progLang.items():
    print(k)
    for kk,vv in v.items():
        print(kk, vv)

py
year 1991
creator abc
C++
year 1996
creator def
Java
year 1998
creator xyz